{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v9.0" nonce="E8ArijzJ"></script>
    <!-- Start Page Title Area -->
    <div class="page-title">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <h3>{{ article.title }}</h3>
                            <ul>
                                <li><a href="{{ path ('homepage') }}">Accueil</a></li>
                                <li>/</li>
                                <li>{{ article.title }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->
    <div id="fb-root"></div>
    <!-- Start Blog Details Area -->
    <section class="blog-details-area ptb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-12">
                    <div class="blog-details">

                        <div class="img">
                            <img src="/uploads/{{ article.illustration }}" alt="{{ article.title }}">
                            <div class="date">
                                <span>15 Jan <br> 2018</span>
                            </div>
                        </div>

                        <div class="blog-details-content">
                            <ul>
                                <li title="Auteur"><a href="#"><i class="fa fa-user"></i> {{ article.user.name|title }}</a></li>
                                <li title="Nombre de vues"><a href="#"><i class="fa fa-eye"></i> {{ article.views }}</a></li>
{#                                <li><a href="#"><i class="fa fa-comments-o"></i> 31</a></li>#}
{#                                <li><a href="#"><i class="fa fa-tag"></i> Divorce Case</a></li>#}
                            </ul>
                            <h3>{{ article.title }}</h3>
                            <p><b><i>{{ article.introduction|raw }}</i></b></p>

                            <div class="text">

                                <p>{{ article.content|raw }}</p>

                            </div>

                            <blockquote class="blockquote text-center">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                            </blockquote>

                            <div class="blog-categories">
                                <ul>
                                    <li class="title">Categories:</li>
                                    <li><a href="#">{{ article.category }}</a></li>

                                </ul>
                            </div>


                            <div class="blog-share-social">
                                <ul>
                                    <li>As-tu aimé cette publication? Partager sur:</li>
                                    <li><a href="https://www.facebook.com/sharer.php?u={{ app.request.uri }}"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://twitter.com/intent/tweet?url={{ app.request.uri }}&text={{ article.title }}"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://www.linkedin.com/sharing/share-offsite/?url={{ app.request.uri }}"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                            <div class="fb-comments" data-href="{{ app.request.uri }}" data-width="" data-numposts="5"></div>

                            {#<div class="post-prev-next-button">#}
                                {#<div class="row">#}
                                    {#<div class="col-lg-6 col-md-6 col-sm-6">#}
                                        {#<a href="#"><i class="fa fa-angle-left"></i> Prev Post</a>#}
                                    {#</div>#}

                                    {#<div class="col-lg-6 col-md-6 col-sm-6 text-right">#}
                                        {#<a href="#">Next Post <i class="fa fa-angle-right"></i></a>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}

                            {#<div class="post-comments">#}
                                {#{% if ad.comments | length > 0 %}#}
                                    {#<h3>Commentaires ({{ ad.comments | length }})</h3>#}
                                    {#{% for comment in ad.comments %}#}
                                        {#<div class="single-post-comments">#}
                                            {#<div class="img">#}
                                                {#<img src="{{comment.author.picture}}" alt="{{comment.author.fullName}}" class="avatar avatar-medium">#}
                                            {#</div>#}
                                            {#<div class="content">#}
                                                {#<span>Sep 10, 2018</span>#}
                                                {#<h4>{{comment.author.fullName}}</h4>#}
                                                {#<p>{{ comment.content }}</p>#}
                                                {#<a href="#">Reply</a>#}
                                                {#<ul>#}
                                                    {#<li>{% include 'partials/rating.html.twig' with {'rating': comment.rating} %}</li>#}

                                                {#</ul>#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#{% endfor %}#}
                                {#{% else %}#}
                                    {#<h3>Aucun Commentaire pour cette annonce</h3>#}


                                    {#<div class="single-post-comments left-mr">#}
                                    {#<div class="img">#}
                                    {#<img src="assets/img/client-avatar2.jpg" alt="avatar">#}
                                    {#</div>#}
                                    {#<div class="content">#}
                                    {#<span>Sep 12, 2018</span>#}
                                    {#<h4>John Smith</h4>#}
                                    {#<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>#}
                                    {#<a href="#">Reply</a>#}
                                    {#</div>#}
                                    {#</div>#}
                                {#{% endif %}#}
                            {#</div>#}

                            {#<div class="post-leave-reply">#}
                                {#<h3>Leave a Reply</h3>#}
                                {#<form>#}
                                    {#<div class="row">#}
                                        {#<div class="col-lg-6 col-md-6 col-sm-6">#}
                                            {#<div class="form-group">#}
                                                {#<input type="text" class="form-control" name="first-name" id="first-name" placeholder="First Name">#}
                                            {#</div>#}
                                        {#</div>#}

                                        {#<div class="col-lg-6 col-md-6 col-sm-6">#}
                                            {#<div class="form-group">#}
                                                {#<input type="text" class="form-control" name="last-name" id="last-name" placeholder="Last Name">#}
                                            {#</div>#}
                                        {#</div>#}

                                        {#<div class="col-lg-12 col-md-12 col-sm-12">#}
                                            {#<div class="form-group">#}
                                                {#<input type="email" class="form-control" name="email" id="email" placeholder="Email">#}
                                            {#</div>#}
                                        {#</div>#}

                                        {#<div class="col-lg-12 col-md-12 col-sm-12">#}
                                            {#<div class="form-group">#}
                                                {#<textarea name="message" id="message" cols="30" rows="5" class="form-control" placeholder="Your message"></textarea>#}
                                            {#</div>#}
                                        {#</div>#}

                                        {#<div class="col-lg-12 col-md-12 col-sm-12">#}
                                            {#<ul>#}
                                                {#<li><a href="#"><i class="fa fa-star"></i></a></li>#}
                                                {#<li><a href="#"><i class="fa fa-star"></i><i class="fa fa-star"></i></a></li>#}
                                                {#<li><a href="#"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></a></li>#}
                                                {#<li><a href="#"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></a></li>#}
                                                {#<li><a href="#"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></a></li>#}
                                            {#</ul>#}
                                        {#</div>#}

                                        {#<div class="col-lg-12 col-md-12 col-sm-12">#}
                                            {#<button type="submit" class="btn btn-primary">Post Comment</button>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</form>#}
                            {#</div>#}
                        </div>
                    </div>
                </div>

                <!-- blog widget -->
                {% include '/partials/_blogWidget.html.twig' %}
                <!-- end blog widget -->
            </div>
        </div>
    </section>
    <!-- End Blog Details Area -->

{% endblock %}
